@charset "utf-8";
/* CSS Document */

/* ////////////////////////////////////////////////// FRESH STRAT*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* /////////////////////////////////////////////////////// FONTS */

@font-face {
    font-family:"OpenSans";
    src:url("../fonts/OpenSans.eot")format( "eot" ),
        url("../fonts/OpenSans.woff")format( "woff" ),
        url("../fonts/OpenSans.ttf")format( "truetype" ),
        url("../fonts/OpenSans.svg")format( "svg" );
        font-style: normal;
}
@font-face {
    font-family:"ostrich";
    src:url("../fonts/ostrich/ostrich.eot")format( "eot" ),
        url("../fonts/ostrich/ostrich.woff")format( "woff" ),
        url("../fonts/ostrich/ostrich.ttf")format( "truetype" ),
        url("../fonts/ostrich/ostrich.svg")format( "svg" );
    font-style: normal;
}
@font-face {
    font-family:"iransans";
    src:url("../fonts/iransans/iransans.eot")format( "eot" ),
        url("../fonts/iransans/iransans.woff")format( "woff" ),
        url("../fonts/iransans/iransans.ttf")format( "truetype" ),
        url("../fonts/iransans/iransans.svg")format( "svg" );
    font-style: normal;    
}
@font-face {
    font-family:"yekan";
    src:url("../fonts/yekan/yekan.eot")format( "eot" ),
        url("../fonts/yekan/yekan.woff")format( "woff" ),
        url("../fonts/yekan/yekan.ttf")format( "truetype" ),
        url("../fonts/yekan/yekan.svg")format( "svg" );
    font-style: normal;
}

/* ///////////////////////////////////////////////////// GLOBAL STYLES */ 
body {
    font-family: 'iransans', sans-serif;
    min-height: 740px;
    background-image: url(../images/paper_fibers.png);
    -webkit-font-smoothing: antialiased;
    pointer-events: auto;
    background-color: rgb(215, 215, 215);
    /*background-color: #0C99D5;*/
    /*background-image: linear-gradient(to bottom, rgba(12, 153, 213, 0) 0px, rgba(12, 153, 213, 0) 100px, #0C99D5 450px, #0C99D5), repeating-linear-gradient(118deg, rgba(12, 153, 213, 0) 0px, #00A7E0 550px, rgba(12, 153, 213, 0) 550px, #00A7E0 800px, rgba(12, 153, 213, 0) 800px, #00A7E0 950px);*/
}
a {
    color: blue;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    display: inline-block;
}
#impress { 
    pointer-events: auto; 
}
.step {
    width: 900px;
    padding: 40px;
    font-size: 44px;
    line-height: 1.5;
    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
    /*text-align: right;*/
    /*direction: rtl;*/
}
.step:not(.active) {
    opacity: 0.3;
}
.impress-on-bored .hint {
    opacity: 1;
    -webkit-transition: opacity 1s, -webkit-transform 0.5s;
       -moz-transition: opacity 1s,    -moz-transform 0.5s;
         -o-transition: opacity 1s,      -o-transform 0.5s;
            transition: opacity 1s,         transform 0.5s;
    
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}

/* ///////////////////////////////////// IMPRESS NOT SUPPORTED STYLES */
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}
.fallback-message p {
    margin-bottom: 10px;
}
.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}
.impress-not-supported .fallback-message {
    display: block;
}

h1{
    color: #4AA3DF;
    font-size: 80px;
    text-align: center;
}
.en-text{
    font-family: 'ostrich';
}
h1.en-text{
    font-size: 90px;
}
#overview-btn{
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}
#overview-btn:hover{
    opacity: 0.5;
}
span{
    display: inline-block;
}

/*----------------- main slide --------------------*/
#main-slide{
    width: 1000px;
}
#main-slide h1{
    line-height: 1.2em;
    margin-bottom: 150px;
    margin-top: 100px;
}
.author{
    font-size: 20px;
    line-height: 2.1em;
    text-align: center;
    font-family: 'iransans'
}

/*----------------- table of content --------------------*/
#table-of-content{
    line-height: 2.5em;
}

/*----------------- section-start --------------------*/
.section-start{
    text-align: center;
}

.section-start h2{
    font-size: 65px;
    color: #4AA3DF;
    line-height: 2.7em;
}

/*----------------- slides --------------------*/
.slide {
    display: block;
    width: 900px;
    height: 700px;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: white;
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    /*border: 1px solid rgba(0, 0, 0, .3);*/
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 1.7em;
    letter-spacing: -1px;
}
.slide h2{
    text-align: center;
    margin-bottom: 30px;
}
.slide >ul >li{
    margin-bottom: 50px;
}
.slide >ul.no-margin >li{
    margin-bottom: 10px;
}
.slide >ul.no-margin >li >ul{
    margin-top: 0px;
}
.slide >ul >li > ul {
    margin-right: 30px;
    margin-top: 15px;
}
.slide .footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0px;
    font-size: 20px;
    background-color: rgba(52, 73, 94, 0.25);
    padding: 0 15px;
    border-radius: 0 0 10px 10px;
}
.slide .footer{
    float: left;
}
.slide-number {
    float: right;
}

.en-number{
    font-family: 'verdana'
}
.blue{
    color: #4AA3DF;
}
.red{
    color: #e74c3c;
}
.center{
    text-align: center;
}
.no-bulet{
    list-style-type: none;
}

/*---------------- overview ------------*/

#overview{
    width: 1px;
    height: 1px;
    position: relative;
}
#overview .resource{
    height: 590px;
    text-align: right;
    position: absolute;
    padding-right: 80px;
    border-right: 1px solid #999;
    font-size: 25px;
    right: 200px;
    top: -270px;
}
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*---------------- last slide ------------*/
#last-slide{
    text-align: center;
    width: 1500px;
    color: #555;
    background-color: #4aa3df;
    display: none;
    /*opacity: 0;*/
    color: #fff;
}
#last-slide.present{
    display: block;
    opacity: 1;
}
.impress-on-last-slide .step{
    opacity: 0;
}
.latin{
	direction: ltr;
	float: left;
}
.input_code{
	width: 100%;
	font: inherit;
	height: 154px;
}
.full-width{
	width: 100%;
}
#iframe_basicWebGL{
	height: 500px;
}
span.fit_image{
	width: 95%;
	margin:auto;
}
span.fit_image_80{
	width: 80%;
	margin: auto;
}
.second_title{
	font-size: 20px;
}
.link {
    font-size: 14px;
}

.item-description {
    font-size: 15px;
    padding-left: 20px;
}
.album img {
    margin-left: 30px;
}